*{
    margin: 0;
}

#clockContainer{
    position: relative;
    margin: auto;
    width: 40vw;
    height: 40vw;
    background: url(/clock.png) no-repeat;
    background-size: 100%;
}


#hour, #minute, #second {
    position: absolute;
    background-color: black;
    border-radius: 10px;
}

#hour{
    width: 2%;
    height: 22%;
    top: 28.5%;
    left: 48.73%;
    opacity: 1;
    transform-origin : bottom;
    /* display: none; */
}

#minute{
    width: 2%;
    height: 28%;
    top: 22%;
    left: 48.73%;
    opacity: .8;
    transform-origin : bottom;
    /* display: none; */
}

#second{
    width: 2%;
    height: 40%;
    top: 11%;
    left: 48.73%;
    opacity: .5;
    transform-origin : bottom;
    /* display: none; */
}